
.main {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #42047e, #07f49e);
}

.form-holder {
  margin-top: 1rem;
  border: 1px solid #fefefe;
  /* background-image: linear-gradient(to right, #07f49e, #42047e); */
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  height: 70%;
  box-shadow: 2px 2px 2px 2px rgb(66, 4, 126, 0.3);
}

form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(1fr);
  row-gap: 10px;
}

form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.register label {
  font-weight: bold;
}

.register input {
  margin: 5px 2%;
  height: 100%;
  width: auto;
  border: none;
  border-bottom: 1px solid #283618;
  border-radius: 5px;
}

.register-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #07f49e, #42047e);
}

.register div > div p {
  color: rgb(184, 11, 11);
  font-size: medium;
  margin-left: 2%;
}