<app-navbar></app-navbar>
<div class="main">
  <div class="form-holder">


    <form>

      <div class="register">
        <label for="email">Email:</label>
        <input type="email">
      </div>

      <div class="register">
        <label for="password">Password:</label>
        <input type="password">
      </div>

      <div class="register" style="display: flex; align-items: center; justify-content: center;">
        <input class="register-button" style="transition: all 0.5s; padding: 1% 12%; color: #fefefe; font-weight: bold; background-color: rgb(66, 4, 126);" type="submit" value="Login">
      </div>

      <p style="font-weight: 550;">Don't have an account? <span routerLink="/register" style="cursor: pointer; color: rgb(66, 4, 126);"> Sign Up </span></p>
    </form>

  </div>
</div>

